.idea/
.gradle/
gradle*
build/
out/
.DS_Store
*.iml
*.ipr
*.iws

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
