### IntelliJ IDEA ###
.idea/
!.idea/runConfigurations/*
!idea/compiler.xml
!idea/externalDependencies.xml
.gradle/
build/
gradle*
!gradle.properties.default
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans


### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
